[all:vars]
ansible_user="admin"
ansible_ssh_pass="admin"
spectrum_owner="spectrum"
dist_dir="/tmp/10.4.x"
update_dir="/tmp/10.04.03.01"
sradmin_dir="/opt/CA/SRAdmin"
install_dir="/opt/CA/Spectrum"
main_loc_serv="spec"

[spectroserver]
# Main Location server
spec ansible_host=1.1.1.1

[spectroserver:vars]
l_handle="0x100000"
install_oneclick=no
install_srm=no
is_secondary=no

[spectroserver_secondary]
spec2 ansible_host=1.1.1.2

[spectroserver_secondary:vars]
l_handle="0x100000"
install_oneclick=no
install_srm=no
is_secondary=no
