[all:vars]
# user with sudo rights on target machines
ansible_user="admin"
ansible_ssh_pass="admin"
ansible_sudo_pass="admin"

# user under which spectrum should run
spectrum_owner="spectrum"
spectrum_password="spectrum"

# local directory with the distributed installation files for base version (e.g. 10.4.3.0)
dist_dir="/home/xxx/20.2.7"
# local directory with the installation files of the latest update
update_dir="/home/xxx/10.04.03.01"  (e.g. 10.4.3.1.17)

# directorys where you want to install Spectrum and sradmin
install_dir="/opt/CA/Spectrum"
sradmin_dir="/opt/CA/SRAdmin"

# defaults if not set in the device specific vars, don't change here
l_handle="0x100000"
install_oneclick=no
install_srm=no
install_ss=yes
is_secondary=no
is_secondary_for=""

# which server will be the main location server
main_loc_serv="spec1"

# lets start with the main location server and primary
[server1]
# hostname and IP of the server. 
# hostname and dns name should match, be otherwise communication between spectrum server will fail.
spec1 ansible_host=192.168.1.2

[server1:vars]
# Landscape handle 
l_handle="0x100000"
# change to no if you want to run a oneclick or Report Manager only machine
install_ss=yes
# change to "yes" if you want to install oneclick on that server
install_oneclick=no
# change to "yes" if you want to install Spectrum report manager on that server
install_srm=no
# change to "yes" if this will be a secondary server
is_secondary=no
# if it is a secondary spectroserver you have to define the primary server name
is_secondary_for=""

# you can add a much as server as you like. They are all installed parallel.
# you can name the sections [xxx] however you want. It is only important you have a corresponding section named [xxx:vars]

# and now the secondary
[server2]
spec2 ansible_host=192.168.1.3

[server2:vars]
l_handle="0x100000"
install_ss=yes
install_oneclick=yes
install_srm=no
is_secondary=yes
is_secondary_for=spec1
